@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

.project_container {
  display: none;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 600;
  font-family: "Cairo", sans-serif;
}
.error_message{
  display: none;
  height: 90vh;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-size: 1.5em ;
  color: white;
}
.error_message_text{
  border: 4px solid black;
  border-radius: 3px;
  padding: 20px;
}
/* .active{
  background-color : rgb(163, 212, 255) ; 
} */
/*  Start  users_container*/
.users_container {
  background-color: rgb(36, 33, 255);
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.users_container div {
  width: 220px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
  cursor: pointer;
}


/* Start  messages_container*/
.messages_container {
  flex: 60%;
  margin-left: 50px;
  padding: 15px;
  border: 3px solid black;
  border-radius: 20px;
}
.messages_container > div:not(.messages_loading) {
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  background-color: rgb(163, 212, 255);
  margin-bottom: 10px;
}
.messages_container > div hr {
  border: none; /* Remove the default border */
  border-top: 3px solid rgb(240, 240, 240);
}





@media (max-width : 667px) {
  body{
    margin: 1.5px;
  }
.project_container {
  font-size: 13px;
  justify-content: flex-start;

}
  .users_container div {
    width: 120px; 
    border: 2.5px solid rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 7px 0;
    overflow: hidden;
  }
.messages_container {
  margin-left: 10px;
  padding: 5px;
  overflow: hidden;
  border: 1.5px solid black;

}
}